// color
$bl: #252525;
$wh: #fff;
$green: #02AF98;


// pc
$FontPcList: 1.6rem;
$FontPcText: 1.6rem;
$FontPcSectitle: 6rem;
$FontPcDate: 1.8rem; 
$FontPcTitle: 1.8rem;

// tab
$FontTabText: calc(1.2rem + 4 * (100vw - 600px) / 424);
