@use "../base/reset";
@use "../base/variable" as v;
@use "../base/mixin" as m;

html {
  font-size: 62.5%;
}

// font-family: 'Shippori Mincho', serif;
// font-family: 'Zen Kaku Gothic New', sans-serif;


.wrapper {
  @include m.mq('sp') {
    
  }
  @include m.mq('tab') {
    
  }
  @include m.mq('pc') {
    width: 80%;
    margin: 0 auto;
  }
}
body {
  @include m.mq('sp') {
    color: v.$bl;
    line-height: 1.8;
    font-family: 'Zen Kaku Gothic New', sans-serif;
  }
  @include m.mq('tab') {
    color: v.$bl;
    line-height: 1.8;
    font-family: 'Zen Kaku Gothic New', sans-serif;
  }
  @include m.mq('pc') {
    color: v.$bl;
    line-height: 1.8;
    font-size: v.$FontPcText;
    font-family: 'Zen Kaku Gothic New', sans-serif;
  }
}

.header {
  @include m.mq('sp') {
    
  }
  @include m.mq('tab') {
    
  }
  @include m.mq('pc') {
    height: 100px;
    &__flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width:86%;
      margin: 0 auto;
    }
    &__logo {
      p {
        font-size: 5rem;
      }
    }
    &__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-item {
        margin-left: 40px;
        position: relative;
      }      
      &-link {
        color: v.$bl;
        font-size: v.$FontPcList;
        &::after {
          content: "";
          width: 0;
          height: 1px;
          background-color: v.$green;
          position: absolute;
          bottom: -5px;
          left: 0;
          transition: 0.4s ease;
        }
        &:hover {
          &::after {
            width: 100%;
            transition: 0.4s ease;
          }
        }
      }
    }
  }
}

.bg {
  @include m.mq('sp') {
    
  }
  @include m.mq('tab') {
    
  }
  @include m.mq('pc') {
    padding-top: 320px ;
    margin-bottom: 240px;
    &__content {
      overflow: hidden;
    }
    &__imgbox {
      overflow: hidden;
      &-img {
        width: 100%;
        max-width: 100%;
        height: auto;
      }
    }
    &__text {
      text-align: center;
      position: absolute;
      top: 48%;
      left: 50%;
      transform: translate(-50%, -50%);
      &-ja {
        font-size: 3rem;
        font-family: 'Shippori Mincho', serif;
      }
      &-en {
        font-size:9rem;
        font-family: 'Shippori Mincho', serif;
      }
    }
  }
}

.about {
  @include m.mq('sp') {
    
  }
  @include m.mq('tab') {
    
  }
  @include m.mq('pc') {
    margin-bottom: 240px;
    &__sectitle {
      font-size: v.$FontPcSectitle;
      font-family: 'Shippori Mincho', serif;
      font-weight: 700;
      color: v.$green;
      margin-bottom: 80px;
      position: relative;
      &::after {
        content: "ABOUT";
        font-weight: 400;
        font-size: 20rem;
        color: #F8F8F8;
        z-index: -1;
        position: absolute;
        left: 0;
        line-height: 0;
      }
    }
    &__text {
      width: 50%;
      margin: 0 auto;
      &-large {
        font-family: 'Shippori Mincho', serif;
        font-size: 6rem;
        line-height: 1.6;
        margin-bottom: 40px;
      }
    }
  }
}

.service {
  @include m.mq('sp') {
    
  }
  @include m.mq('tab') {
    
  }
  @include m.mq('pc') {
    margin-bottom: 240px;
    &__sectitle {
      font-size: v.$FontPcSectitle;
      font-family: 'Shippori Mincho', serif;
      font-weight: 700;
      color: v.$green;
      margin-bottom: 80px;
      position: relative;
      &::after {
        content: "SERVICE";
        font-size: 20rem;
        color: #F8F8F8;
        z-index: -1;
        position: absolute;
        left: 0;
        line-height: 0;
      }
    }
    &__list {
      display: flex;
      justify-content: space-between;
      width: 100%;
      &-item {
        width: 30%;
        position: relative;
        &:hover {
          .service__list-box {
            &::before {
              content: "";
              position: absolute;
              border-top: 3px solid #fff;
              border-right: 3px solid #fff; 
              width: 10px;
              height: 10px;
              right: 15px;
              top: 17px;
              transform: rotate(0deg);
              transition: 0.2s;
            }
            &::after {
              content: "";
              position: absolute;
              width: 34px;
              height: 3px;
              background-color: #fff;
              right: 11px;
              bottom: 28px;
              transform: rotate(-45deg);
              transition: 0.2s;
            }
          }
        }
      }
      &-text {
        position: absolute;
        left: 10px;
        top: 10px;
        color: v.$wh;
        font-size: 2.4rem;
        z-index: 3;
        font-weight: bold;
      }
      &-img {
        width: 100%;
      }
      &-box {
        position: absolute;
        left: 0;
        bottom: 8px;
        display: block;
        width: 60px;
        height: 60px;
        background-color: v.$green;
        &::before {
          content: "";
          position: absolute;
          border-top: 3px solid #fff;
          border-right: 3px solid #fff; 
          width: 10px;
          height: 10px;
          right: 18px;
          top: 20px;
          transform: rotate(0deg);
        }
        &::after {
          content: "";
          position: absolute;
          width: 30px;
          height: 3px;
          background-color: #fff;
          right: 16px;
          bottom: 25px;
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.news {
  @include m.mq('sp') {
    
  }
  @include m.mq('tab') {
    
  }
  @include m.mq('pc') {
    margin-bottom: 240px;
    &__sectitle {
      font-size: v.$FontPcSectitle;
      font-family: 'Shippori Mincho', serif;
      font-weight: 700;
      color: v.$green;
      margin-bottom: 80px;
      position: relative;
      &::after {
        content: "NEWS";
        font-size: 20rem;
        color: #F8F8F8;
        z-index: -1;
        position: absolute;
        left: 0;
        line-height: 0;
      }
    }
    &__box {
      width: 70%;
      margin-left: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      border-top: 1px solid rgba(178, 178, 178, 0.591);
      padding: 20px 0;
      &:last-child {
        border-bottom: 1px solid rgba(178, 178, 178, 0.591);
      }
    }
    &__dt {
      width: 30%;
    }
    &__dd{
      width: 70%;
    }
  }
}

.company {
  @include m.mq('sp') {
    
  }
  @include m.mq('tab') {
    
  }
  @include m.mq('pc') {
    margin-bottom: 160px;
    &__sectitle {
      font-size: v.$FontPcSectitle;
      font-family: 'Shippori Mincho', serif;
      font-weight: 700;
      color: v.$green;
      margin-bottom: 80px;
      position: relative;
      &::after {
        content: "COMPANY";
        font-size: 20rem;
        color: #F8F8F8;
        z-index: -1;
        position: absolute;
        left: 0;
        line-height: 0;
      }
    }
    &__flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__box {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &-dt {
        width:30%;
        margin-bottom: 40px;
      }
      &-dd {
        width: 70%;
      }
    }
    &__imgbox {
      width: 50%;
      text-align: right;
      &-img {
        width: 90%;
      }
    }
  }
}
.contact {
  @include m.mq('sp') {
    
  }
  @include m.mq('tab') {
    
  }
  @include m.mq('pc') {
    &__sectitle {
      font-size: v.$FontPcSectitle;
      font-family: 'Shippori Mincho', serif;
      font-weight: 700;
      color: v.$green;
      text-align: center;
      padding: 240px 0;
      display: block;
      position: relative;
      &::after {
        content: "CONTACT";
        font-size: 20rem;
        color: #F8F8F8;
        z-index: -1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 0;
      }
      // background-color: #F8F8F8;
      // background-color: v.$bl;
      // border: 1px solid v.$green;
    }
  }
}
.footer {
  @include m.mq('sp') {
    
  }
  @include m.mq('tab') {
    
  }
  @include m.mq('pc') {
    &__copy {
      text-align: center;
      padding: 10px 0;
    }
  }
}