/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

@media screen and (min-width: 1025px) {
  .wrapper {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 599px) {
  body {
    color: #252525;
    line-height: 1.8;
    font-family: "Zen Kaku Gothic New", sans-serif;
  }
}
@media screen and (min-width: 600px) and (max-width: 1025px) {
  body {
    color: #252525;
    line-height: 1.8;
    font-family: "Zen Kaku Gothic New", sans-serif;
  }
}
@media screen and (min-width: 1025px) {
  body {
    color: #252525;
    line-height: 1.8;
    font-size: 1.6rem;
    font-family: "Zen Kaku Gothic New", sans-serif;
  }
}

@media screen and (min-width: 1025px) {
  .header {
    height: 100px;
  }
  .header__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 86%;
    margin: 0 auto;
  }
  .header__logo p {
    font-size: 5rem;
  }
  .header__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__list-item {
    margin-left: 40px;
  }
  .header__list-link {
    color: #252525;
    font-size: 1.6rem;
    position: relative;
  }
  .header__list-link::after {
    content: "";
    width: 0;
    height: 1px;
    background-color: #252525;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: 0.4s ease;
  }
  .header__list-link:hover::after {
    width: 100%;
    transition: 0.4s ease;
  }
}

@media screen and (min-width: 1025px) {
  .bg {
    margin: 320px 0 160px;
    background-image: url(/src/img/bg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 780px;
  }
  .bg__text {
    text-align: center;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .bg__text-ja {
    font-size: 3rem;
    font-family: "Shippori Mincho", serif;
  }
  .bg__text-en {
    font-size: 9rem;
    font-family: "Shippori Mincho", serif;
  }
}

@media screen and (min-width: 1025px) {
  .about {
    margin-bottom: 160px;
  }
  .about__sectitle {
    font-size: 6rem;
    margin-bottom: 80px;
    position: relative;
  }
  .about__sectitle::after {
    content: "ABOUT";
    font-size: 20rem;
    color: #F8F8F8;
    text-shadow: 1px 1px 0 #46E678;
    z-index: -1;
    position: absolute;
    left: 0;
    line-height: 0;
  }
  .about__text {
    width: 50%;
    margin: 0 auto;
  }
  .about__text-large {
    font-family: "Shippori Mincho", serif;
    font-size: 6rem;
    line-height: 1.6;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1025px) {
  .service {
    margin-bottom: 160px;
  }
  .service__sectitle {
    font-size: 6rem;
    margin-bottom: 80px;
    position: relative;
  }
  .service__sectitle::after {
    content: "SERVICE";
    font-size: 20rem;
    color: #F8F8F8;
    text-shadow: 1px 1px 0 #46E678;
    z-index: -1;
    position: absolute;
    left: 0;
    line-height: 0;
  }
  .service__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .service__list-item {
    width: 30%;
    position: relative;
  }
  .service__list-item:hover .service__list-box::before {
    content: "";
    position: absolute;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    width: 10px;
    height: 10px;
    right: 15px;
    top: 17px;
    transform: rotate(0deg);
    transition: 0.2s;
  }
  .service__list-item:hover .service__list-box::after {
    content: "";
    position: absolute;
    width: 34px;
    height: 3px;
    background-color: #fff;
    right: 11px;
    bottom: 28px;
    transform: rotate(-45deg);
    transition: 0.2s;
  }
  .service__list-text {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #fff;
    font-size: 2.4rem;
    z-index: 3;
    font-weight: bold;
  }
  .service__list-img {
    width: 100%;
  }
  .service__list-box {
    position: absolute;
    left: 0;
    bottom: 8px;
    display: block;
    width: 60px;
    height: 60px;
    background-color: #46E678;
  }
  .service__list-box::before {
    content: "";
    position: absolute;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    width: 10px;
    height: 10px;
    right: 18px;
    top: 20px;
    transform: rotate(0deg);
  }
  .service__list-box::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #fff;
    right: 16px;
    bottom: 25px;
    transform: rotate(-45deg);
  }
}

@media screen and (min-width: 1025px) {
  .news {
    margin-bottom: 160px;
  }
  .news__sectitle {
    font-size: 6rem;
    margin-bottom: 80px;
    position: relative;
  }
  .news__sectitle::after {
    content: "NEWS";
    font-size: 20rem;
    color: #F8F8F8;
    text-shadow: 1px 1px 0 #46E678;
    z-index: -1;
    position: absolute;
    left: 0;
    line-height: 0;
  }
  .news__box {
    width: 70%;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid rgba(178, 178, 178, 0.591);
    padding: 20px 0;
  }
  .news__box:last-child {
    border-bottom: 1px solid rgba(178, 178, 178, 0.591);
  }
  .news__dt {
    width: 30%;
  }
  .news__dd {
    width: 70%;
  }
}
/*# sourceMappingURL=style.css.map */